.list-box-protocolo {
  width: 250px;
}

.select-EscogerC {
  padding: 30px;
}

.display-flexEscogerC {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
}

.space-divEscoger {
  padding-top: 5%;
}
